<div class="container-fluid col-md-9">
  <div class="card0 border-0">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top mb-4" style="background-color: white;">
      <a class="navbar-brand " (click)="landingpage()"><img src="assets/img/22.png"
        height="50" width="150"></a>

      <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
      <!-- <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <i class="fa fa-bars"></i>
      </button> -->

      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div  class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item text-center mouse">
            <div ngbDropdown class="dropdown">
              <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                <img src="assets/img/03.png" width="30">
              </a>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-center page-nav">
                <a class="dropdown-item" (click)="aboutpage()">ABOUT US</a>
                <a class="dropdown-item" (click)="contact()">CONTACT US</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
      <div class="row">
        <div class="col-md-8 justify-content-around">
          <img src="assets/img/06.png" style="width: 90%;height: auto;">
        </div><br><br>
        <div class="col-md-4 justify-content-around">
          <br><br>
          <span class="welcome">Welcome please</span><br><br>
          <span class="get">Get the</span><br><br><br>
          <span class="app justify-content-around">APP NOW!</span>
          <br>
          <img src="assets/img/05.png">
          <p>Be Heard on Talent Hunt.
            Discover amazing talent, share and build a unique audience for your craft.
            .</p>
          <a href="https://play.google.com/store/apps/details?id=app.service.talenthunt">
            <img src="assets/img/01.png" style="width: 40%;">
          </a>&nbsp;&nbsp;&nbsp;
          <a href="https://apps.apple.com/us/app/id1527415294">
            <img src="assets/img/02.png"  style="width: 45%;">
          </a>
        </div>
      </div>
      <br>
      <!-- // orr -->
      <div class="page-signup  text-center" style="padding: 20px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p class="des text-center">Sign up to discover and share <br> your videos with friends.</p>
              <form [formGroup]="registerForm">
                <div class="row">
                  <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="form-group">
                      <input type="text" formControlName="email" placeholder="Email" class="form-control input-back" />
                      <span style="color: red;font-size: 80%;"
                    *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
                    Field required Please enter a valid email !!
                  </span>
                    </div>
                    <div class="form-group">
                      <input type="text" formControlName="fullname" placeholder="full name"
                        class="form-control input-back" />
                        <span style="color: red;font-size: 80%;"
                        *ngIf="registerForm.get('fullname').touched && registerForm.get('fullname').hasError('required')">
                        Field required Please enter your fullname !!
                      </span>
                    </div>
                    <div class="form-group">
                      <input type="text" formControlName="phone" placeholder="phone" class="form-control input-back" />
                      <span style="color: red;font-size: 80%;"
                      *ngIf="registerForm.get('phone').touched && registerForm.get('phone').hasError('required')">
                      Field required Please enter your phone number !!
                    </span>
                    </div>
                    <div class="form-group">
                      <input type="password" formControlName="password" placeholder="Password"
                        class="form-control input-back" />
                        <span style="color: red;font-size: 80%;"
                      *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
                      Field required Please enter password mush be more than 5 characters !!
                    </span>
                    </div>

                    <div class="send-button">
                      <button type="button" [disabled]="!registerForm.valid" (click)="registration()"
                        class="btn btn-outline-secondary btn-round btn-md btn-block"
                        style="color: white;background-color: rgb(121, 1, 121);">
                        <span *ngIf="this.isRegistering" class="spinner-border spinner-border-sm" role="status"></span>
                        <span *ngIf="this.isRegistering" class="load-text"> Signing Up...</span>
                        <span *ngIf="!this.isRegistering" class="btn-text"> Sign Up</span>
                      </button>
                    </div>
                    <!-- <div class="send-button">
                                      <button type="button" class="btn btn-outline-secondary btn-round btn-md" style="color: white;">Login with Facebook</button>
                                  </div> -->
                    <p class="des1"> Already have an account?<a (click)="loginpage();registerForm.reset()" class="log-in"> Log
                        in</a></p>
                  </div>

                </div>
              </form>
            </div>
            <div class="col-md-6">
              <img src="assets/img/14.png" style="width: 80%;">
            </div>
          </div>
        </div>
      </div>
  <footer class="footer page-footer"><br>
    <div class="container">
      <nav>
        <span class="row">
          <span class="col">
            <a>
              <img src="assets/img/21.png" alt="Thumbnail Image" height="50" width="70">
            </a>
          </span>
          <span class="col copyright footer-text" style="text-align: right;">


            FOLLOW US:
            <div class="w-100"></div>
            <a href="https://www.instagram.com/talenthunt_live/">
              <img src="assets/img/17.png" height="20" width="20">
            </a>&nbsp;
            <a href="https://twitter.com/TalenthuntL">
              <img src="assets/img/18.png" height="20" width="20">
            </a>&nbsp;
            <a href="">
              <img src="assets/img/19.png" height="20" width="20">
            </a>
            <div class="w-100"></div>
            &copy;
            Copyright Tekhype Limited
          </span>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;
      </nav>
    </div>
  </footer>
</div>
