.page-footer{
  background-color: rgb(88, 13, 88);
}
.footer-text{
  color: white;
  }
  .app{
      font-family: Impact, fantasy;
      line-height: 1 !important;
      font-weight: 500;
      font-size: 200px;
      color: rgb(255, 255, 255);
    }
    .get{
      font-family: DejaVu Sans Mono, monospace;
      line-height: 0 !important;
      font-weight: 200;
      font-size: 60px;
      color: rgb(255, 255, 255);
    }
    .offer{
        color: rgb(160, 9, 160);
    }

.fish
    {
      position:absolute;
      top: 10px;
      left: 25px;
      z-index: 2;
    }
    .drop
    {
      position:absolute;
      top: 25px;
      right: 29px;
      z-index: 2;
    }
.sam{
  position:absolute;
  top: 15%;
}
.page-nav{
  background-color: rgb(88, 13, 88);
  color: white;
}
