<div class="container-fluid col-md-9">
  <div class="card0 border-0">
    <div class="row justify-content-center"> <img src="assets/img/21.png" class="logo"> </div>
    <div class="page-signup  text-center" style="padding: 20px;">
      <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <br><br>
        <p class="des text-center">Enter a valid Email that was <br> used to create account.</p>
          <form [formGroup]="ResetForm">
            <div class="row">
              <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                <div class="form-group">
                  <input class="form-control mb-4" type="text" formControlName="email"
                placeholder="Enter a valid email address">
              <p style="color: red;font-size: 80%;"
                *ngIf="ResetForm.get('email').touched && ResetForm.get('email').hasError('required')">
                Required Field
              </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-blue text-center"
                [disabled]="!ResetForm.valid" (click)="resetPass();openReportContent(pin)"><span *ngIf="this.isloading"
                  class="spinner-border spinner-border-sm" role="status"></span><span *ngIf="this.isloading"
                  class="load-text"> Loading...</span><span *ngIf="!this.isloading" class="btn-text"> Reset Password</span>
                </button> </div>
            <div class="row justify-content-center "> <small class="font-weight-bold" style="color: white;">Do you remember password? <a
                  style="color: blueviolet;" (click)="log()">login</a></small> </div>
          </form>


      </div>
      <div class="col-lg-6">
        <img style="margin: auto;" src="assets/img/14.png" style="width: 60%;">
      </div>
    </div><br>
      </div>
    </div>
  </div>
  <footer class="footer page-footer"><br>
    <div class="container">
      <nav>
        <span class="row">
          <span class="col">
            <a>
              <img src="assets/img/21.png" alt="Thumbnail Image" height="50" width="70">
            </a>
          </span>
          <span class="col copyright footer-text" style="text-align: right;">


            FOLLOW US:
            <div class="w-100"></div>
            <a href="https://www.instagram.com/talenthunt_live/">
              <img src="assets/img/17.png" height="20" width="20">
            </a>&nbsp;
            <a href="https://twitter.com/TalenthuntL">
              <img src="assets/img/18.png" height="20" width="20">
            </a>&nbsp;
            <a href="">
              <img src="assets/img/19.png" height="20" width="20">
            </a>
            <div class="w-100"></div>
            &copy;
            Copyright Tekhype Limited
          </span>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;
      </nav>
    </div>
  </footer>
</div>
<ng-template #pin let-modal>
  <div class="rtt" >
  <div class="modal-header" >
    <h6 class="modal-title" style="color: white;" id="modal-basic-title">Check your mail to get pin</h6>
    <button type="button" style="font-size: small;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="PinForm">
      <div class="form-group">
        <input (input)="compare($event.target.value)" formGroupName="re_pin" type="text" placeholder="Enter pin">
      </div>
      <!-- <div class="row justify-content-center">
        <button type="submit" class="btn btn-blue text-center"
           > Reset Password</button> </div> -->
    </form>
  </div>
</div>
  </ng-template>
  <ng-template #pinnum let-modal>
    <div>
      <div class="modal-content">
        <div class="modal-header content-center">
          <h4>Message <i class="fa fa-lock"></i></h4>
        </div>
        <div class="modal-body"><i class="fa fa-question-circle"></i> PIN VERIFIED Click OK to Continue</div>
        <div class="modal-footer"><a (click)="ress();modal.close()" class="btn facebookbutton btn-block">Ok</a></div>
      </div>
    </div>
  </ng-template>
