<div class="container d-flex justify-content-center">
  <div class="wrapper">
    <div class="container">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white;">
        <a class="navbar-brand move" (click)="homePage()"><img src="assets/img/22.png" ngbTooltip="Talent Hunt" height="50" width="150"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <div class="collapse navbar-collapse" id="example-navbar-icons">
            <ul class="navbar-nav ml-auto"style="margin-right: 210px;">
              <li class="nav-item text-center">
                <a class="nav-link" (click)="homePage()" data-toggle="modal" data-target="#"><img src="assets/img/50.png" width="20"><span
                    class="d-none d-sm-inline d-xl-block px-1"
                    style="color: black;font: 1em sans-serif;font-size: small;">Home</span></a>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item text-center">
                <a class="nav-link" (click)="profilePage()" data-toggle="modal" data-target="#"><img src="assets/img/52.png" width="20"><span
                    class="d-none d-sm-inline d-xl-block px-1"
                    style="color: black;font: 1em sans-serif;font-size: small;">Profile</span></a>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item text-center">
                <a class="nav-link" (click)="compage()" data-toggle="modal" data-target="#"><img src="assets/img/53.png" width="20"><span
                    class="d-none d-sm-inline d-xl-block px-1"
                    style="color: black; font: 1em sans-serif;font-size: small;">Competition</span></a>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <div ngbDropdown class="dropdown ">
                  <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                    <img src="assets/img/03.png" width="30">
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right page-nav">
                    <a class="dropdown-item" (click)="aboutpage()">ABOUT US</a>
                    <a class="dropdown-item" (click)="contact()">CONTACT US</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </nav>
      <br><br><br>
      <img src="assets/img/41.png" alt="" height="10">
      <div class="container">
        <div class="card shadow-none d-flex text-center w-50 justify-content-center border-0 rtt" style="color: black;">
          <div class="card-body">
            <form [formGroup]="joinComForm">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username"><b>Full Name</b></label>
                      <input type="text" id="input-firstname" class="form-control form-control-alternative"
                        placeholder="First Name" formControlName="first_name">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email"></label>
                      <input type="text" id="input-lastname" class="form-control form-control-alternative"
                        placeholder="Last Name" formControlName="last_name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-age"><b>Age</b></label>
                      <input type="number" id="input-age" class="form-control form-control-alternative" placeholder="Yrs"
                        formControlName="age">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-gender"><b>Gender</b></label>
                        <div class="form-group">
                          <select formControlName="gender" class='form-control'>
                            <option value="null">gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Address -->
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address"><b>Address</b></label>
                      <input id="input-address" class="form-control form-control-alternative" placeholder="Town / place"
                        type="text" formControlName="town">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="text" id="input-country" class="form-control form-control-alternative"
                        placeholder="Phone Number" formControlName="telephone">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input id="input-address" class="form-control form-control-alternative" placeholder="Email" type="email"
                        formControlName="email">
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="A little about yourself" formControlName="bio" rows="2"></textarea>
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group content-center">
                      <img [src]="selectedFile" *ngIf="selectedFile" style="height: 120px; width:120px" (click)="cancel(); fileInput.click()">
                      <img *ngIf="!selectedFile" (click)="fileInput.click()" src="assets/img/137.png" width="40">
                      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    </div>

                  </div>
                  <div class="col-lg-5">
                    <div *ngIf="!selectedFile" class="form-group content-center">
                      <input id="input-address" class="form-control form-control-alternative"  type="text"
                      formControlName="">
                    </div>
                    <div *ngIf="selectedFile" class="content-center" style="color: black;">
                      <span *ngIf="!selectedFile" class="text-center">Upload ID</span>
                      <span *ngIf="selectedFile" class="text-center">Click on the image to change it</span>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group content-center">
                      <img alt="Image placeholder" src="assets/img/138.png" width="30" height="30">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Personal Message" formControlName="bio" rows="2"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-center" style="color: black;">
                    <img alt="Image placeholder" src="assets/img/148.png" width="30" height="30">&nbsp;&nbsp;
                    Pay <b>GH₵:{{viewcompetition.service_fees}}</b> for forms to enter competition.
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                        <select formControlName="momo_code" class='form-control'>
                          <option value="null">Country Code</option>
                          <option value="233">Ghana(+233)</option>
                          <option value="234">Nigeria(+234)</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input id="input-address" class="form-control form-control-alternative" placeholder="Phone Number"
                        type="number" maxlength="9" formControlName="momo_number">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group input-group-md-8">
                      <!-- <input type="text" id="input-city" class="form-control form-control-alternative text-center"
                        placeholder="Code" value="233" formControlName="momo_code"> -->
                        <select formControlName="momo_network" class='form-control'>
                          <option value='null'>Mobile Network</option>
                          <option value='MTN'>MTN</option>
                          <option value='AirtelTigo'>AirtelTigo</option>
                          <option value='Vodafone'>Vodafone</option>
                          <option value='Visa'>Visa</option>
                      </select>
                    </div>
                  </div>
                </div>


                <!-- <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input id="input-address" class="form-control form-control-alternative" placeholder="Request ID"
                        type="number" [(ngModel)]="clientID" formControlName="client_request_id">
                    </div>
                  </div>
                </div>
                <br> -->
                <br>
                <div class="row">
                  <div class="col-md-4">
                    <img alt="Image placeholder" src="assets/img/71.png" width="120" height="50">
                  </div>
                  <div class="col-md-4">
                    <img alt="Image placeholder" src="assets/img/72.png" width="120" height="50">
                  </div>
                  <div class="col-md-4">
                    <img alt="Image placeholder" src="assets/img/70.png" width="120" height="50">
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <button class="button" (click)="JoinComp(); joinComForm.reset()"><span>SUBMIT</span></button><br><br>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
