.bsr{
  background-color: rgb(225, 218, 231);
  color: white;
}
.rtt{
background-image: url('/assets/img/54.png');
background-repeat: no-repeat;
color: white;
}
.button {
  border-radius: 20px;
  background-image: url('/assets/img/12.png');
  background-repeat:no-repeat;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 14px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.area {
  width: 800px;
  border: 1px solid rgb(197, 195, 193);
  position: relative;
  overflow: visible;
  border-radius: 20px;
}
.area1 {
  width: 500px;
  border: 1px solid rgb(197, 195, 193);
  position: relative;
  overflow: visible;
  border-radius: 20px;
}
.page-nav{
  background-color: rgb(88, 13, 88);
  color: white;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.home-nav{
/* Just because I am using big size font */
background-color: rgb(88, 13, 88);
line-height: 1em;
padding-top:2px !important;
padding-bottom:0 !important;
 height: 1px;
 color: white;
}
.move{
  margin-left: 200px;
}
