.home-nav{
  /* Just because I am using big size font */
  background-color: rgb(88, 13, 88);
 line-height: 1em;
 padding-top:2px !important;
 padding-bottom:0 !important;
   height: 1px;
   color: white;
}
.page-nav{
  background-color: rgb(88, 13, 88);
  color: white;
}
.ten{
  width:100%;
  height:100%;
}
.nine{
  background-image: url('/assets/img/127.png');
}
.page-footer{
  background-color: rgb(88, 13, 88);
}
.footer-text{
  color: white;
  }
  .button {
      border-radius: 20px;
      background-color: rgb(88, 13, 88);
      background-repeat:no-repeat;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 16px;
      padding: 8px;
      width: 180px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 2px;
    }

    .button span {
      cursor: pointer;
      /* display: inline-block; */
      position: relative;
      transition: 0.5s;
    }

    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .button:hover span {
      padding-right: 25px;
    }

    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    .move{
      margin-left: 180px;
    }
    .btn-signup{
      background-color: rebeccapurple;
      background-repeat:no-repeat;
    }
