<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white;">
  <a class="navbar-brand" href="#"><img src="assets/img/22.png" ngbTooltip="The best" height="50" width="150"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <div class="collapse navbar-collapse" id="example-navbar-icons">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-center">
          <a class="nav-link" data-toggle="modal" data-target="#"><img src="assets/img/50.png" width="20"><span
              class="d-none d-sm-inline d-xl-block px-1"
              style="color: black;font: 1em sans-serif;font-size: small;">Home</span></a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item text-center">
          <a class="nav-link" data-toggle="modal" data-target="#"><img src="assets/img/52.png" width="20"><span
              class="d-none d-sm-inline d-xl-block px-1"
              style="color: black;font: 1em sans-serif;font-size: small;">Profile</span></a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item text-center">
          <a class="nav-link" data-toggle="modal" data-target="#"><img src="assets/img/53.png" width="20"><span
              class="d-none d-sm-inline d-xl-block px-1"
              style="color: black; font: 1em sans-serif;font-size: small;">Competition</span></a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <div ngbDropdown class="dropdown ">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <img src="assets/img/03.png" width="30">
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right page-nav">
              <a class="dropdown-item">ABOUT US</a>
              <a class="dropdown-item">CONTACT US</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
<br><br><br>
<img src="assets/img/41.png" alt="" height="10" width="1370">
  <div class='col-12'>
      <ngb-carousel>
          <ng-template ngbSlide>
              <div class="mr-auto contain mainbody-section">
                <div class="card contain shadow text-white" style="width:650px; height: 390px;">
                  <img class="card-img-top" src="assets/img/bg6.jpg" alt="Card image">
                  <div class="card-img-overlay" style="margin-top: 220px;">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <a class="btn button" style="background-color: green;">View Competition</a>
                    <a  class="btn button" style="background-color: red;">teams and condition</a>
                    <a  class="btn button" style="margin-left: 180px;">Join Competition</a>
                  </div>
                </div>
              </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="mr-auto contain mainbody-section">
              <div class="card contain shadow text-white" style="width:650px; height: 390px;">
                <img class="card-img-top" src="assets/img/bg11.jpg" alt="Card image">
                <div class="card-img-overlay" style="margin-top: 220px;">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a class="btn button" style="background-color: green;">View Competition</a>
                  <a  class="btn button" style="background-color: red;">teams and condition</a>
                  <a  class="btn button" style="margin-left: 180px;">Join Competition</a>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="mr-auto contain mainbody-section">
              <div class="card contain shadow text-white" style="width:650px; height: 390px;">
                <img class="card-img-top" src="assets/img/bg6.jpg" alt="Card image">
                <div class="card-img-overlay" style="margin-top: 220px;">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a class="btn button" style="background-color: green;">View Competition</a>
                  <a  class="btn button" style="background-color: red;">teams and condition</a>
                  <a  class="btn button" style="margin-left: 180px;">Join Competition</a>
                </div>
              </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="mr-auto contain mainbody-section">
            <div class="card contain shadow text-white" style="width:650px; height: 390px;">
              <img class="card-img-top" src="assets/img/bg3.jpg" alt="Card image">
              <div class="card-img-overlay" style="margin-top: 220px;">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a class="btn button" style="background-color: green;">View Competition</a>
                <a  class="btn button" style="background-color: red;">teams and condition</a>
                <a  class="btn button" style="margin-left: 180px;">Join Competition</a>
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="mr-auto contain mainbody-section">
          <div class="card contain shadow text-white" style="width:650px; height: 390px;">
            <img class="card-img-top" src="assets/img/bg7.jpg" alt="Card image">
            <div class="card-img-overlay" style="margin-top: 220px;">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a class="btn button" style="background-color: green;">View Competition</a>
              <a  class="btn button" style="background-color: red;">teams and condition</a>
              <a  class="btn button" style="margin-left: 180px;">Join Competition</a>
            </div>
          </div>
        </div>
    </ng-template>
      </ngb-carousel>

  </div>

  