<div class="container-fluid col-md-9 con">
  <div class="card0 border-0">
    <nav class="navbar navbar-expand-lg navbar-light  mb-3" style="background-color: white;margin-bottom: 0px;">
      <a class="navbar-brand " style="cursor: pointer;" (click)="homePage()"><img src="assets/img/22.png" ngbTooltip="Talent hunt"
        height="50" width="150"></a>

      <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>

      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">

        <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
          <input class="myInput form-control mr-sm-2" (keyup)="clearSearch()" formControlName="search" [(ngModel)]="search"
            (input)="searchEverything($event.target.value)"  placement="bottom" [ngbPopover]="popContent" type="search" placeholder="Search" aria-label="Search">
        </form>

        <!-- <ng-template  #popTitle>Search Results</ng-template> -->

        <ng-template #popContent>
          <div class="popover" *ngIf="isFound">
            <div *ngFor="let list of searchList">

              <span *ngIf="list">{{ trackFollow(list) }}</span>

              <div  class="row" [hidden]="list?.id == user_id">
                <div class="col-md-2">
                  <img *ngIf="list.profile_image === null" src="assets/img/default-avatar.png" class="avatar4">
                  <img *ngIf="list.profile_image !== null" src="{{ list?.profile_image }}" class="avatar4">
                </div>
                <div class="col-md-7" >
                  &nbsp;
                  <span (click)="fell(list?.id); refresh()">
                    {{ list.fullname }}
                  </span>
                  &nbsp; &nbsp;
                </div>
                <div class="col-md-3">
                  <div *ngIf="list.follows.length > 0">
                    <span *ngIf="isFollow.length > 0">
                      <button  type="button" class="btnu success" (click)="unfollowuser(list.id);">Following</button>
                    </span>

                    <span *ngIf="!isFollow || isFollow.length == 0">
                      <button  type="button" class="bits" (click)="followuser(list.id);">Follow</button>
                    </span>
                  </div>
                  <div *ngIf="list.follows.length == 0">
                    <span>
                      <button type="button" class="bits" (click)="followuser(list.id);">Follow</button>
                    </span>
                </div>
            </div>
              </div>
              <hr>
            </div>
          </div>
          <div *ngIf="!isFound">
            Find your friends
          </div>
        </ng-template>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item text-center mouse">
            <a class="nav-link" (click)="profilePage()" data-toggle="modal" data-target="#"><img
                src="assets/img/52.png" width="20"><span class="d-none d-sm-inline d-xl-block px-1"
                style="color: black;font: 1em sans-serif;font-size: small;">Profile</span></a>
          </li>&nbsp;&nbsp;
          <li class="nav-item text-center mouse">
            <a class="nav-link" (click)="compage()" data-toggle="modal" data-target="#"><img src="assets/img/53.png"
                width="20"><span class="d-none d-sm-inline d-xl-block px-1"
                style="color: black; font: 1em sans-serif;font-size: small;">Competition</span></a>
          </li>&nbsp;&nbsp;
          <li class="nav-item mouse">
            <div ngbDropdown class="dropdown ">
              <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                <img src="assets/img/03.png" width="30">
              </a>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right page-nav">
                <a class="dropdown-item" (click)="aboutpage()">ABOUT US</a>
                <a class="dropdown-item" (click)="contact()">CONTACT US</a>
                <a (click)="openContent(logoutModal)" class="dropdown-item">LOG OUT</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <img src="assets/img/41.png" alt="" height="6" width="100%">
    <br><br>

    <div *ngIf="!isLoading" class="row d-flex justify-content-center ">
      <div class="justify-content-center col-md-3 d-flex">
        <img *ngIf="viewuser?.profile_image !== null" src="{{viewuser?.profile_image}}" class="avatar" alt="">
        <img *ngIf="viewuser?.profile_image === null" src="assets/img/default-avatar.png" class="avatar" alt="">
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-3 text-center">
            <h6><b>{{follow?.posts.length}}</b></h6>
            <span style="font-size: 18px;">Posts</span>
          </div>

          <img src="assets/img/04.png" height="50px">

          <div class="col-md-3 text-center" style="cursor: pointer;" (click)="openfollowers(followers)">
            <h6><b>{{follow?.followers.length}}</b></h6>
            <span style="font-size: 18px;">Followers</span>
          </div>

          <img src="assets/img/04.png" height="50px">


          <div class="col-md-3 text-center" style="cursor: pointer;" (click)="openfollowing(following)">
            <h6><b>{{follow?.following.length}}</b></h6>
            <span style="font-size: 18px;">Following</span>
          </div>
        </div><br>
        <div class="row" *ngIf="user_id !== ID">
          <div class="col-md-7">
            <div *ngIf="viewuser?.follows.length > 0">
              <span *ngIf="isFollow?.length > 0">
                <button type="button" (click)="unfollowuser(viewuser?.id)" class="btn success">Unfollow</button>
                <!-- <img (click)="unlike(list?.id)" src="assets/img/44.png" height="30" width="30"> -->
              </span>

              <span *ngIf="!isFollow || isFollow?.length == 0">
                <button class="but" type="button" (click)="followuser(viewuser?.id)">Follow</button>
                <!-- <img (click)="likep(list?.id)" src="assets/img/43.png" height="30" width="30"> -->
              </span>
            </div>
            <div *ngIf="viewuser?.follows.length == 0">
              <span>
                <button class="but" type="button" (click)="followuser(viewuser?.id)">Follow</button>
              </span>
            </div>
         </div>
        </div>
      </div>
    </div>&nbsp;
    <div *ngIf="!isLoading" class="row justify-content-center">
      <div class="justify-content-center col-md-5" style="margin-right: 310px;">
        <h6><b>{{viewuser?.fullname}}</b></h6>
        <p>{{viewuser?.username}}</p>
     </div>
    </div>
    <div *ngIf="!isLoading" class="row justify-content-center ">
      <div class="justify-content-center col-md-5" style="margin-right: 310px;">
        <p>{{viewuser?.personal_message}}</p>
     </div>
    </div>
    <br><br>
    <div *ngIf="isLoading" class="d-flex justify-content-center">
      <br><br><br><br><br><br><br><br><br>
      <div class="spinner-grow" style="color: rgb(109, 8, 109);" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


    <div *ngIf="!isLoading" class="row">
      <div *ngIf="allPosts.length == 0" class=" d-flex justify-content-center col-md-10 move">
        <a >
          <i class="fa fa-camera-retro" style="font-size:50px;color: rgb(143, 127, 127);margin-left: 50px;"></i>
          <span class="d-none d-sm-inline d-xl-block px-1"
                   style="color: rgb(143, 127, 127);font-size:20px">No Post Available</span>
        </a>
        </div>

      <div *ngIf="allPosts.length > 0" class="col-md-10 move">
        <ngb-tabset [destroyOnHide]="false">

          <ngb-tab>
            <ng-template ngbTabTitle><img src="assets/img/33.png" width="30px" height="30px"></ng-template>

            <ng-template ngbTabContent>
              <br>
              <div class="child-page-listing">


                <div class="grid-container">

                  <article id="3685" class="location-listing" *ngFor="let post of allPosts">

                    <a class="location-title" (click)="openScrollableContent(longContent);view(post.id)">
                      <img src="assets/img/44.png" width="15px" height="15px">&nbsp; {{post?.likes.length || 0}}&nbsp;&nbsp; <img src="assets/img/42.png" width="15px" height="15px">&nbsp; {{post?.comments.length || 0}}
                    </a>

                    <div class="card location-image ">
                      <a (click)="openScrollableContent(longContent);view(post.id)">
                        <img class="image" class="card-img-top" width="300" height="169" *ngIf="post?.file_type === 'IMAGE'"
                          src="{{post?.file_url}}" alt="san francisco">
                        <video *ngIf="post?.file_type === 'VIDEO'" class="card-img-top" width="300" height="169">
                          <source src="{{post?.file_url}}" type="video/mp4">
                          </video>
                      </a>

                    </div>

                  </article>


                </div>
                <!-- end grid container -->

              </div>
              <br>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Posts" [disabled]="true">
            <ng-template ngbTabContent>
              <p>This is Disabled</p>
            </ng-template>
          </ngb-tab>&nbsp;&nbsp;&nbsp;

          <ngb-tab>
            <ng-template ngbTabTitle><img src="assets/img/34.png" width="30px" height="30px"></ng-template>
            <ng-template ngbTabContent>
              <div class=" col-md-10 move">
                <div class="card border-0  d-flex justify-content-center" *ngFor="let post of allPosts">
                  <span *ngIf="post">{{ trackLike(post) }}</span>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3" style="align-items: flex-end;">
                        <img *ngIf="post.user.profile_image !== null" src="{{post.user.profile_image}}"
                          class="avatar1"  alt="">
                        <img *ngIf="post.user.profile_image === null" src="assets/img/default-avatar.png"
                          class="avatar1"  alt="">
                      </div>
                      <div class="col-md-7 div-holder ">
                        <h6 class="card-title">{{post.user.fullname}}</h6>
                        <p class="card-text">{{post?.location}}</p>
                      </div>
                      <div class="col-md-2" style="text-align: right;">
                        <div ngbDropdown class="dropdown ">
                          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                            <img src="assets/img/49.png" width="30">
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right page-nav">
                            <a class="dropdown-item" (click)="copy(post?.file_url)">Share Post</a>
                            <a class="dropdown-item" (click)="openReportContent(report);view(post.id)">Report Post</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a>
                    <img *ngIf="post?.file_type === 'IMAGE'" class="card-img-top" src="{{post.file_url}}"
                    width="450px">
                  </a>
                  <a>
                    <video class="card-img-top" *ngIf="post?.file_type === 'VIDEO'" width="450px" height="450px"
                      controls>
                      <source src="{{post.file_url}}" type="video/mp4">
                    </video>
                  </a>
                  <div class="card-body">
                    <div class="row">
                      <div *ngIf="post?.likes.length > 0">

                        <span *ngIf="isData.length > 0">
                          <i class="fa fa-heart" style="cursor: pointer;" (click)="unlike(post?.id)" style="font-size:36px;color: rgb(63, 5, 117);"></i>
                        </span>

                        <span *ngIf="!isData || isData.length == 0">
                          <i class="fa fa-heart-o" style="cursor: pointer;" (click)="likep(post?.id)" style="font-size:36px;"></i>
                        </span>
                      </div>

                      <div *ngIf="post?.likes.length == 0">
                        <span>
                          <i class="fa fa-heart-o" style="cursor: pointer;" (click)="likep(post?.id)" style="font-size:36px;"></i>
                        </span>
                      </div>&nbsp;&nbsp;
                      <b>{{post?.likes.length || '0'}}</b>&nbsp;&nbsp;
                      <i class="fa fa-comments-o" style="font-size:36px;cursor: pointer;"></i>&nbsp;&nbsp;
                      <b>{{post?.comments.length || '0'}}</b>&nbsp;&nbsp;
                      <i class="fa fa-share-alt" (click)="copy(post?.file_url)" style="font-size:36px;cursor: pointer;"></i>
                    </div>

                    <div class="row">
                      <span *ngIf="post?.comments.length > 0"><b>{{post?.comments.length || '0'}}
                          comment(s)</b></span>
                      <div class="w-100"></div>
                      <span>{{post?.caption}}</span>
                      <div class="w-100"></div>&nbsp;<br>
                      <a style="color: rgb(48, 10, 83);cursor: pointer" *ngIf="post?.comments.length > 0"
                        (click)="toggleDisplay()">view
                        comments</a>
                    </div>
                    <div *ngIf="isShow" class="card border-0 example-2 scrollbar-deep-purple bordered-deep-purple thin">
                      <div class="card-body">
                      <div class="row pa-move" *ngFor="let comment of post.comments">
                        <div class="col-md-1">
                          <img *ngIf="comment.user.profile_image !== null" src="{{comment.user.profile_image}}" alt=""
                            class="avs">
                          <img *ngIf="comment.user.profile_image === null" src="assets/img/default-avatar.png" alt=""
                            class="avs">
                        </div>
                        <div class="col-md-11">
                          <div class="row">
                            <span><b>{{comment.user.fullname}}</b></span>
                            <div class="w-100"></div>
                            <span>{{comment.message}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <form class="example for" [formGroup]="commentForm">
                      <input class="mt-auto sum" placeholder="comment" formControlName="message">
                      <button [disabled]="!commentForm.valid" style="color: rgb(48, 10, 83); cursor: pointer;" (click)="addComment(post.id);commentForm.reset();"><b>Post</b></button>
                    </form>
                  </div><br><br>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>
  <footer *ngIf="!isLoading" class="footer page-footer"><br>
    <div class="container">
      <nav>
        <span class="row">
          <span class="col">
            <a>
              <img src="assets/img/21.png" alt="Thumbnail Image" height="50" width="70">
            </a>
          </span>
          <span class="col copyright footer-text" style="text-align: right;">


            FOLLOW US:
            <div class="w-100"></div>
            <a href="https://www.instagram.com/talenthunt_live/">
              <img src="assets/img/17.png" height="20" width="20">
            </a>&nbsp;
            <a href="https://twitter.com/TalenthuntL">
              <img src="assets/img/18.png" height="20" width="20">
            </a>&nbsp;
            <a href="">
              <img src="assets/img/19.png" height="20" width="20">
            </a>
            <div class="w-100"></div>
            &copy;
            Copyright Tekhype Limited
          </span>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;
      </nav>
    </div>
  </footer>
</div>




<!-- logout modal start -->
<ng-template #logoutModal let-modal>
  <div>
    <div class="modal-content">
      <div class="modal-header content-center">
        <h4>Logout <i class="fa fa-lock"></i></h4>
      </div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a (click)="onLogout()" class="but btn-block" color="white">YES</a><a
          (click)="no()" class="btn facebookbutton btn-block">NO</a></div>
    </div>
  </div>
</ng-template>
<!-- logout modal end -->

<!-- folllower modal -->
<ng-template #followers let-modal>
  <div class="modal-header text-center">
    <h6 class="modal-title">Followers</h6>
    <button type="button" class="" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div  *ngFor="let foll of follow.followers">
      <!-- <span *ngIf="foll">{{ trackUserFollowers(foll.follower_id) }}</span> -->
    <div  class="row" >
      <div class="col-md-2">
        <img *ngIf="foll.follower.profile_image === null" src="assets/img/default-avatar.png" class="avatar3">
        <img *ngIf="foll.follower.profile_image !== null" src="{{ foll?.follower.profile_image }}" class="avatar3">
      </div>
      <div class="col-md-7" style="cursor: pointer;" (click)="fell(foll?.follower_id);modal.dismiss('Cross click')">
        &nbsp;
        <span >
          {{ foll.follower.fullname }}
        </span>
        &nbsp; &nbsp;
      </div>
    </div>
    <hr>
  </div>
  </div>

 </ng-template>

 <!-- following modal  -->
 <ng-template #following let-modal>
  <div class="modal-header text-center">
    <h6 class="modal-title">following</h6>
    <button type="button" class="" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div *ngFor="let foll of follow.following">
    <div  class="row" >
      <div class="col-md-2">
        <img *ngIf="foll.user.profile_image === null" src="assets/img/default-avatar.png" class="avatar3">
        <img *ngIf="foll.user.profile_image !== null" src="{{ foll?.user.profile_image }}" class="avatar3">
      </div>
      <div class="col-md-7" >
        &nbsp;
        <span style="cursor: pointer;" (click)="fell(foll?.user_id);refresh();modal.dismiss('Cross click')">
          {{ foll.user.fullname }}
        </span>
        &nbsp; &nbsp;
      </div>

    </div>
    <hr>
  </div>
  </div>

 </ng-template>


<!-- post modal -->
<ng-template #longContent let-modal>
  <div class="row" *ngFor="let cra of Posts">
    <span *ngIf="cra">{{ trackLikes(cra) }}</span>
    <div class="col-sm-7 left-side">
      <video *ngIf="cra?.file_type === 'VIDEO'" class="card-img-top" style="height: 30rem;" controls>
        <source src="{{cra.file_url}}" type="video/mp4">
      </video>
      <img *ngIf="cra?.file_type === 'IMAGE'" class="card-img-top" src="{{cra.file_url}}" style="height: 30rem;"
        alt="Card image cap">
    </div>
    <div class="col-sm-4 right-side">
      <br>
      <div class="row">
        <div class="col-md-3" style="align-items: flex-end;">
          <img *ngIf="cra.user.profile_image !== null" src="{{cra.user.profile_image}}" class="avatar2"
             alt="">
          <img *ngIf="cra.user.profile_image === null" src="assets/img/default-avatar.png" class="avatar2"
             alt="">
        </div>
        <div class="col-md-8 div-holder " style="margin-left: 20px;">
          <h6 class="card-title" style="color: black;margin-top: auto;font-size: small;">{{cra.user.fullname}}</h6>
          <span class="card-text" style="color: black;font-size: small;">{{cra.caption}}</span>
          <div class="w-100"></div>
          <b class="card-text" style="color: black;font-size: small;">{{cra.likes.length || '0'}} like(s)</b>
        </div>
      </div><br>
      <!--Form with header-->
      <div *ngIf="cra.comments.length > 0" class="card border-0 example-1 thin">
        <div class="card-body">
          <h6 id="section1" style="font-size: 12px;"><strong>Comments:</strong></h6>
          <div class="row pa-move" *ngFor="let comment of cra.comments">
            <div class="col-md-1">
              <img *ngIf="comment.user.profile_image !== null" src="{{comment.user.profile_image}}" alt="" class="avs">
              <img *ngIf="comment.user.profile_image === null" src="assets/img/default-avatar.png" alt="" class="avs">
            </div>
            <div class="col-md-8" style="margin-left: 12px;">
              <div class="row">
                <span style="font-size: 12px;"><b>{{comment.user.fullname}}</b></span>
                <div class="w-100"></div>
                <span style="font-size: 10px;">{{comment.message}}</span>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div *ngIf="cra?.likes.length > 0">

          <span *ngIf="isData.length > 0">
            <i class="fa fa-heart" style="cursor: pointer;" (click)="unlike(cra?.id)" style="font-size:36px;color: rgb(63, 5, 117);"></i>
          </span>

          <span *ngIf="!isData || isData.length == 0">
            <i class="fa fa-heart-o" style="cursor: pointer;" (click)="likep(cra?.id)" style="font-size:36px;"></i>
          </span>
        </div>

        <div *ngIf="cra?.likes.length == 0">
          <span>
            <i class="fa fa-heart-o" style="cursor: pointer;" (click)="likep(cra?.id)" style="font-size:36px;"></i>
          </span>
        </div>&nbsp;&nbsp;
      <b>{{cra?.likes.length || '0'}}</b>&nbsp;&nbsp;
      <i class="fa fa-comments-o" style="font-size:36px;cursor: pointer;"></i>&nbsp;&nbsp;
      <b>{{cra?.comments.length || '0'}}</b>&nbsp;&nbsp;
      <i class="fa fa-share-alt" (click)="copy(cra?.file_url)" style="font-size:36px;cursor: pointer;"></i>
    </div>&nbsp;

      <form [formGroup]="commentForm">
        <div class="input-group">
          <input type="text" class="com" placeholder="Add Comments" formControlName="message" />
          <div class="input-group-btn">
            <button class="btns btn-default" [disabled]="!commentForm.valid" (click)="addComment(cra.id);commentForm.reset();" type="submit">
              <b>Post</b>
            </button>
          </div>
        </div>
      </form>


    </div>
    <!--/Form with header-->

  </div>
</ng-template>
<!-- close post modal -->

<ng-template #report let-modal>
  <div *ngFor="let pos of Posts">
  <div class="modal-header" >
    <h6 class="modal-title" style="color: red;" id="modal-basic-title">Why are you reporting this post?</h6>
    <button type="button" style="font-size: small;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="reportForm">
      <div class="form-group">
        <input formControlName="complaint" type="text" placeholder="Reason">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button  type="button" class="buts" (click)="reportpost(pos.id);modal.close()">Report</button>
  </div>
</div>
  </ng-template>
