.div-holder {
  padding-left: 0;
  padding-right: 0;
}
.con{
  background-image: url('/assets/img/54.png');
}
.btns {
  border: none;
  background-color: white;
  color: blue;
  padding: 7px 6px;
  font-size: 14px;
  cursor: pointer;
}
.col-md-3 {
  flex: 0 0 2%;
  max-width: 25%;
}

.trending{
  background-color: rgb(48, 10, 83);
}
.page-nav{
  background-color: rgb(88, 13, 88);
  color: white;
}
.move{
  margin: 0 auto;
}

.mov{
  margin: 80px auto;
}

.card{
  /* transition: none !important; */
  box-shadow: none !important;
  box-lines: 2px;
}

/* Style the submit button */
form.example button {
  float: left;
  background: transparent;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.com{box-shadow: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #9100ff !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;}
form.example button:disabled {
  background: transparent;
  cursor: progress;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.for {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;

  /* This bit draws the box around it */
  border:1px solid grey;

  /* I've used padding so you can see the edges of the elements. */
  padding:2px;
}
input {
  flex-grow:2;
  border:none;
}
.form{padding:10px 50px 10px 50px;}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}
.btn-signup{
  background-color: rebeccapurple;
  background-repeat:no-repeat;
}
/* The grid: Four equal columns that floats next to each other */
.but {
  background-color: #090833; /* Green */
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}


.buts {
  background-color: #c00404; /* Green */
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.butn {
  background-color: #9c0404; /* Green */
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.button {
  border-radius: 20px;
  background-image: url('/assets/img/12.png');
  background-repeat:no-repeat;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 14px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.page-footer{
  background-color: rgb(88, 13, 88);
}
.footer-text{
  color: white;
  }
.mouse{
cursor: pointer;
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}

.modal .modal-content {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgba(54, 8, 85, 0.829);

}


.follow-button {
  background-color: #090833;
}

.btn {
  border: none;
  background-color: white;
  color: black;
  padding: 7px 6px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;

}


/* Green */
/* .success {
  border-color: #000000;
  color: black;
} */

.popov {
  /* margin:10px, 10px; */
  padding:10px;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify center;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
.myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  /* margin-bottom: 12px; */
}



.move[_ngcontent-ikv-c125] {
  /* margin-left: 00px; */
  cursor: pointer;
}
@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}
@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}
.scrollbar-deep-purple::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #512da8; }

  .scrollbar-deep-purple {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  scrollbar-color: #512da8 #F5F5F5;

  }
  .square::-webkit-scrollbar-track {
    border-radius: 0 !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    width: 6px;
  }

    .square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
    width: 6px;
  }

    .thin::-webkit-scrollbar {
    width: 6px;
   }


  .example-1 {
    position: relative;
    overflow-y: scroll;
    height: 100px;
   }
   .avatar3 {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgba(54, 8, 85, 0.829);

  }
  .rtt{
    background-image: url('/assets/img/127.png');
    background-repeat: no-repeat;
    color: white;
    }

    .items {
      width: 90%;
      /* margin: 0px auto; */
      /* margin-top: 100px */
  }

  .slick-slide {
      /* margin: 10px */
  }

  .notification {
    /* background-color: #555; */
    color: black;
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    /* display: inline-block; */
    /* border-radius: 2px; */
  }

  .notification .badge {
    position: absolute;
    /* top: -5px; */
    right: -10px;
    padding: 1px 5px;
    border-radius: 50%;
    font-size: smaller;
    background: rgba(54, 8, 85, 0.829);
    color: white;
  }
  .avatar1 {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid rgba(54, 8, 85, 0.829);
  }
  .avs {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 60%;
  border: 3px solid rgba(54, 8, 85, 0.829);

  }
  * {
    box-sizing: border-box;
  }

  /* Container for flexboxes */
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  /* Create four equal columns */
  .column {
    flex: 25%;
    padding: 20px;
  }

  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      flex: 50%;
    }
  }

  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    /* .row {
      flex-direction: column;
    } */
    .column {
      flex: 100%;
    }
  }
  .rolling {
    display: flex;
    flex-wrap: initial;
    margin-right: -15px;
    margin-left: -15px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .popover {
    /* margin:10px, 10px; */
    padding:10px;
    width: 260px;
    height: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    background-color: rgb(182, 194, 216);

  }
  .btnu {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 3px 2px;
    font-size: 12px;
    cursor: pointer;
  }
  .bits {
    background-color: #090833; /* Green */
    border: none;
    color: white;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .popover {
    /* margin:10px, 10px; */
    padding:10px;
    width: 360px;
    height: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    background-color: rgb(182, 194, 216);

  }
  .btnu {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 4px 3px;
    font-size: 14px;
    cursor: pointer;
  }
  .bits {
    background-color: #090833; /* Green */
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

}
@media only screen and (max-width: 768px) {
  /* For phone: */
  .popover {
    /* margin:10px, 10px; */
    padding:10px;
    width: 160px;
    height: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    background-color: rgb(182, 194, 216);

  }
  .btnu {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 2px 1px;
    font-size: 10px;
    cursor: pointer;
  }
  .bits {
    background-color: #090833; /* Green */
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
  }
}
@media (max-width: 992px) {

  .navbar-collapse.collapsing .navbar-nav {
      display: block;
      position: fixed;
      top: 65px;
      bottom: 0;
      right: -95%;
      transition: all 0.2s ease;
      background-color: crimson;
  }

  .navbar-collapse.show .navbar-nav {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      flex-direction: column;
      height: auto;
      width: 75%;
      transition: right 0.35s ease;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      background-color: crimson;
  }
  .card-title{
    font-size: small;
  }
  .card-text{
    font-size: small;
  }
}


.modal.left .modal-dialog {
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	overflow-y: auto;
}

.modal.left.fade .modal-dialog {
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
	left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #eeeeee;
	background-color: #fafafa;
}
.roll {
  display: absolute;
  flex-wrap: inherit;
  margin-right: -10px;
  margin-left: -10px;
}
