<div class="container-fluid col-md-9 con">
  <div class="card0 border-0">
    <!-- <div class="row" style="align-items: flex-end;"> <img src="assets/img/21.png" class="logo"> </div> -->

    <nav class="navbar navbar-expand-lg navbar-light sticky-top mb-4" style="background-color: white;">
      <a class="navbar-brand " style="cursor: pointer;" (click)="homePage()"><img src="assets/img/22.png"
        height="50" width="150"></a>

      <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
      <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#sidebarModal">
        <span class="navbar-toggler-icon"></span>
    </button>

      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        &nbsp; &nbsp;
        <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
          <input class="myInput form-control mr-sm-2" (keyup)="clearSearch()" formControlName="search" [(ngModel)]="search"
            (input)="searchEverything($event.target.value)"  placement="bottom" [ngbPopover]="popContent" type="search" placeholder="Search" aria-label="Search">
        </form>

        <!-- <ng-template  #popTitle>Search Results</ng-template> -->

        <ng-template #popContent>
          <div class="popover" *ngIf="isFound">
            <div *ngFor="let list of searchList">

              <span *ngIf="list">{{ trackFollows(list) }}</span>

              <div  class="row" [hidden]="list?.id == user_id">
                <div class="col-md-2">
                  <img *ngIf="list.profile_image === null" src="assets/img/default-avatar.png" class="avatar">
                  <img *ngIf="list.profile_image !== null" src="{{ list?.profile_image }}" class="avatar">
                </div>
                <div class="col-md-6" >
                  &nbsp;
                  <span style="cursor: pointer;" (click)="fell(list?.id)">
                    {{ list.fullname }}
                  </span>
                  &nbsp; &nbsp;
                </div>
                  <div class="col-md-3">
                    <div *ngIf="list.follows.length > 0">
                      <span *ngIf="isFollow.length > 0">
                        <button style="cursor: pointer;" type="button" class="btnu success" (click)="unfollowuser(list.id);">Following</button>
                      </span>

                      <span *ngIf="!isFollow || isFollow.length == 0">
                        <button style="cursor: pointer;" type="button" class="bits" (click)="followuser(list.id);">Follow</button>
                      </span>
                    </div>
                    <div *ngIf="list.follows.length == 0">
                      <span>
                        <button style="cursor: pointer;" type="button" class="bits" (click)="followuser(list.id);">Follow</button>
                      </span>
                  </div>
              </div>
              </div>
              <hr>
            </div>
          </div>
          <div *ngIf="!isFound">
            Find your friends
          </div>
        </ng-template>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item text-center mouse">
            <a class="nav-link" (click)="profilePage()" data-toggle="modal" data-target="#"><img
                src="assets/img/52.png" width="20"><span class="d-none d-sm-inline d-xl-block px-1"
                style="color: black;font: 1em sans-serif;font-size: small;">Profile</span></a>
          </li>&nbsp;&nbsp;
          <li class="nav-item text-center mouse">
            <a class="nav-link" (click)="compage()" data-toggle="modal" data-target="#"><img src="assets/img/53.png"
                width="20"><span class="d-none d-sm-inline d-xl-block px-1"
                style="color: black; font: 1em sans-serif;font-size: small;">Competition</span></a>
          </li>&nbsp;&nbsp;
          <li class="nav-item text-center mouse">
            <div ngbDropdown class="dropdown ">
              <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                <img src="assets/img/03.png" width="30">
              </a>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left page-nav">
                <a class="dropdown-item" (click)="aboutpage()">ABOUT US</a>
                <a class="dropdown-item" (click)="contact()">CONTACT US</a>
                <a (click)="openContent(logoutModal)" class="dropdown-item">LOG OUT</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <img src="assets/img/41.png" alt="" height="6" width="100%">



    <div *ngIf="!isLoading" class="col-md-8 move">
      <div class="card border-0" *ngFor="let post of allPosts">
        <span *ngIf="post">{{ trackLikes(post) }}</span>
        <div class="card-body container-fluid">
          <div class="rolling">
            <div class="col-md-3" >
              <img style="cursor: pointer;" (click)="fell(post?.user_id)" *ngIf="post.user.profile_image !== null" src="{{post.user.profile_image}}" class="avatar1"
               alt="">
              <img style="cursor: pointer;" (click)="fell(post?.user_id)" *ngIf="post.user.profile_image === null" src="assets/img/default-avatar.png"
                class="avatar1"  alt="">
            </div>
            <div class="col-md-7" >
              <h6 class="card-title" style="cursor: pointer;" (click)="fell(post?.user_id)">{{post.user.fullname}}</h6>
              <p *ngIf="post?.location !== 'null'" class="card-text" >{{post?.location}}</p>
              <p *ngIf="post?.location === 'null'" class="card-text" >Sent from Mobile</p>
            </div>
            <div class="col-md-2" style="text-align: right;">
              <div ngbDropdown class="dropdown ">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <img  src="assets/img/49.png" width="30">
                </a>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right page-nav">
                  <a class="dropdown-item" (click)="copy(post?.file_url)">Share Post</a>
                  <a class="dropdown-item" (click)="openReportContent(report);view(post.id)">Report Post</a>
                  <a *ngIf="post.user_id == this.user_id" class="dropdown-item" (click)="opendeleteContent(del);view(post.id)">delete Post</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a>
          <img *ngIf="post?.file_type === 'IMAGE'" class="card-img-top" src="{{post.file_url}}"
            width="300px" alt="Card image cap">
        </a>
        <a>
          <video class="card-img-top" *ngIf="post?.file_type === 'VIDEO'" width="450px" height="450px" controls>
            <source src="{{post.file_url}}" type="video/mp4">
          </video>
        </a>
        <div class="card-body" >
          <div class="row">
            <div *ngIf="post?.likes.length > 0">

              <span *ngIf="isData.length > 0" style="cursor: pointer;">
                <i class="fa fa-heart"  (click)="unlike(post?.id)" style="font-size:36px;color: rgb(63, 5, 117);"></i>
              </span>

              <span *ngIf="!isData || isData.length == 0" style="cursor: pointer;">
                <i class="fa fa-heart-o"  (click)="likep(post?.id)" style="font-size:36px;"></i>
              </span>
            </div>

            <div *ngIf="post?.likes.length == 0" style="cursor: pointer;">
              <span>
                <i class="fa fa-heart-o"  (click)="likep(post?.id)" style="font-size:36px;"></i>
              </span>
            </div>&nbsp;&nbsp;
            <b>{{post?.likes.length || '0'}}</b>&nbsp;&nbsp;
            <i class="fa fa-comments-o" style="font-size:36px;cursor: pointer;"></i>&nbsp;&nbsp;
            <b>{{post?.comments.length || '0'}}</b>&nbsp;&nbsp;
            <i class="fa fa-share-alt" (click)="copy(post?.file_url)" style="font-size:36px;cursor: pointer;"></i>
          </div>

          <!-- <div class="row">
            <span *ngIf="post?.likes.length > 0 && post?.likes[0].user_id == user_id">
            <img (click)="unlike(post?.id)" src="assets/img/44.png" height="30" width="30">
          </span>&nbsp;&nbsp;
          <span
              *ngIf="post?.likes.length === 0 || post?.likes.length > 0 && post?.likes[0].user_id != user_id">
              <img (click)="likep(post?.id)" src="assets/img/43.png" height="30" width="30">
          </span>&nbsp;&nbsp; -->


          <div class="row">
            <span *ngIf="post?.comments.length > 0"><b>{{post?.comments.length || '0'}} comment(s)</b></span>
            <div class="w-100"></div>
            <span>{{post?.caption}}</span>
            <div class="w-100"></div>&nbsp;<br>
            <a style="color: rgb(48, 10, 83);cursor: pointer" *ngIf="post?.comments.length > 0" (click)="view(post.id)">view
              comments</a>
          </div>
          <div *ngIf="isShow" class="card border-0 example-1   thin">
            <div class="card-body">
            <div class="row pa-move" *ngFor="let comment of post.comments">
              <div class="col-md-1">
                <img *ngIf="comment.user.profile_image !== null" src="{{comment.user.profile_image}}" alt=""
                  class="avs">
                <img *ngIf="comment.user.profile_image === null" src="assets/img/default-avatar.png" alt=""
                  class="avs">
              </div>
              <div class="col-md-9">
                <div class="row">
                  <span ><b>{{comment.user.fullname}}</b></span>
                  <div class="w-100"></div>
                  <span>{{comment.message}}</span>
                </div>
              </div>
              <div *ngIf="this.user_id == comment.user.id" class="col-md-2">
                <a class="dropdown-item" (click)="deleteComment(comment.id)"><i class="fa fa-trash" style="color: red;"></i></a>
          </div>
            </div>
          </div>
          </div>
        </div>
        <div class="card-footer">
          <form class="example for" [formGroup]="commentForm">
            <input class="mt-auto" placeholder="comment" formControlName="message">
            <button [disabled]="!commentForm.valid" style="color: rgb(48, 10, 83); cursor: pointer;" (click)="addComment(post.id);commentForm.reset();"><b>Post</b></button>
          </form>
        </div><br><br>
      </div>
    </div>
    <br>
    <!-- <div *ngIf="!isLoading" class="col-md-4 mov">
      <div  class="card border-0 example-1   thin">
        <div class="card-body">
        <div class="row pa-move" *ngFor="let comment of post.comments">
          <div class="col-md-1">
            <img *ngIf="comment.user.profile_image !== null" src="{{comment.user.profile_image}}" alt=""
              class="avs">
            <img *ngIf="comment.user.profile_image === null" src="assets/img/default-avatar.png" alt=""
              class="avs">
          </div>
          <div class="col-md-9">
            <div class="row">
              <span><b>{{comment.user.fullname}}</b></span>
              <div class="w-100"></div>
              <span>{{comment.message}}</span>
            </div>
          </div>
          <div *ngIf="user.id === comment.user.id" class="col-md-2">
            <a class="dropdown-item" (click)="deleteComment(comment.id)"><i class="fa fa-trash" style="color: red;"></i></a>
      </div>
        </div>
      </div>
      </div>
    </div> -->

    <!-- <div *ngIf="!isLoading" class="trending">
      <div class="row">
        <div class="col-sm-8">
          <h3 class="title" style="color: white;">Trending Videos</h3>
        </div>
      </div>

      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ slide.img }}" alt="" height="340px" width="95%">
        </div>
      </ngx-slick-carousel>

      <br>
    </div> -->
    <div *ngIf="isLoading" class="d-flex justify-content-center">
      <br><br><br><br><br><br><br><br><br>
      <div class="spinner-grow" style="color: rgb(109, 8, 109);" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  <footer *ngIf="!isLoading" class="footer page-footer"><br>
    <div class="container">
      <nav>
        <span class="row">
          <span class="col">
            <a>
              <img src="assets/img/21.png" alt="Thumbnail Image" height="50" width="70">
            </a>
          </span>
          <span class="col copyright footer-text" style="text-align: right;">


            FOLLOW US:
            <div class="w-100"></div>
            <a href="https://www.instagram.com/talenthunt_live/">
              <img src="assets/img/17.png" height="20" width="20">
            </a>&nbsp;
            <a href="https://twitter.com/TalenthuntL">
              <img src="assets/img/18.png" height="20" width="20">
            </a>&nbsp;
            <a href="">
              <img src="assets/img/19.png" height="20" width="20">
            </a>
            <div class="w-100"></div>
            &copy;
            Copyright Tekhype Limited
          </span>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;
      </nav>
    </div>
  </footer>
  <div class="modal left fade menu" id="sidebarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog position-fixed m-auto" role="document">
        <div class="modal-content h-100 page-nav">
            <div class="modal-body p-3">
                <div class="nav flex-column">
                  <a class="navbar-brand d-flex justify-content-center" style="cursor: pointer;" data-dismiss="modal" (click)="homePage()"><img src="assets/img/155.png"
                    height="50" width="150"></a>&nbsp;
                  <!-- <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
                    <input class="myInput form-control mr-sm-2" (keyup)="clearSearch()" formControlName="search" [(ngModel)]="search"
                      (input)="searchEverything($event.target.value)"  placement="bottom" [ngbPopover]="popContent" type="search" placeholder="Search" aria-label="Search">
                  </form>



                  <ng-template #popContent>
                    <div class="popover" *ngIf="isFound">
                      <div *ngFor="let list of searchList">

                        <span *ngIf="list">{{ trackFollows(list) }}</span>

                        <div  class="row" [hidden]="list?.id == user_id">
                          <div class="col-md-2">
                            <img *ngIf="list.profile_image === null" src="assets/img/default-avatar.png" class="avatar">
                            <img *ngIf="list.profile_image !== null" src="{{ list?.profile_image }}" class="avatar">
                          </div>
                          <div class="col-md-6" >
                            &nbsp;
                            <span style="cursor: pointer;" (click)="fell(list?.id)" data-dismiss="modal" aria-hidden="true">
                              {{ list.fullname }}
                            </span>
                            &nbsp; &nbsp;
                          </div>
                            <div class="col-md-3">
                              <div *ngIf="list.follows.length > 0">
                                <span *ngIf="isFollow.length > 0">
                                  <button style="cursor: pointer;" type="button" class="btnu success" (click)="unfollowuser(list.id);">Following</button>
                                </span>

                                <span *ngIf="!isFollow || isFollow.length == 0">
                                  <button style="cursor: pointer;" type="button" class="bits" (click)="followuser(list.id);">Follow</button>
                                </span>
                              </div>
                              <div *ngIf="list.follows.length == 0">
                                <span>
                                  <button style="cursor: pointer;" type="button" class="bits" (click)="followuser(list.id);">Follow</button>
                                </span>
                            </div>
                        </div>
                        </div>
                        <hr>
                      </div>
                    </div>
                    <div *ngIf="!isFound">
                      Find your friends
                    </div>
                  </ng-template> -->
                  <!-- <a class="nav-link" (click)="openpost(postModal)" data-dismiss="modal" data-target="#sidebarModal"><i class="fa fa-camera" style="font-size:24px"></i>&nbsp;<span class="d-xl-block px-1"
                  style="color: white;; font: 1em sans-serif;font-size: 22px;">Add Post</span></a> -->
                  <a class="nav-link" (click)="profilePage()" data-dismiss="modal" data-target="#sidebarModal"><i class="fa fa-user" style="font-size:24px"></i>&nbsp;<span class="d-xl-block px-1"
                    style="color: white;; font: 1em sans-serif;font-size: 22px;">My Profile</span></a>
                    <a class="nav-link" (click)="compage()" data-dismiss="modal" data-target="#sidebarModal"><i class="fa fa-trophy" style="font-size:24px"></i>&nbsp;<span class="d-xl-block px-1"
                      style="color: white; font: 1em sans-serif;font-size: 22px;">Competition</span></a>
                      <!-- <a class="nav-link" [ngbPopover]="popCon" data-target="#sidebarModal"><i class="fa fa-bell" style="font-size:24px"></i> &nbsp;<span class="d-xl-block px-1"
                        style="color: white; font: 1em sans-serif;font-size: 22px;">Notification</span></a>
                        <ng-template #popCon>
                          <div class="popov"  *ngIf="isNoti">
                            <div *ngFor="let note of Allnoti">
                              <div  class="row">
                                <div class="col-xs-3 col-md-3" >
                                  <i *ngIf="note.app === 'LIKE' && note.seen === 'NO'" class="fa fa-heart" (click)=" notif(note.content_id);"  style="font-size:28px;color:rgb(88, 13, 88)"></i>
                                  <i *ngIf="note.app === 'FOLLOW' && note.seen === 'NO'" class="fa fa-group"(click)=" notif(note.content_id)"   style="font-size:28px;color:rgb(88, 13, 88)"></i>
                                  <i *ngIf="note.app === 'COMMENT' && note.seen === 'NO'" class="fa fa-comments-o"(click)=" notif(note.content_id);"  style="font-size:28px;color:rgb(88, 13, 88)"></i>
                                  <i *ngIf="note.app === 'LIKE' && note.seen === 'YES'" class="fa fa-heart"(click)=" notif(note.content_id)" style="font-size:28px;color:rgb(75, 57, 57)"></i>
                                  <i *ngIf="note.app === 'FOLLOW' && note.seen === 'YES'" class="fa fa-group" (click)=" notif(note.content_id)" style="font-size:28px;color:rgb(75, 57, 57)"></i>
                                  <i *ngIf="note.app === 'COMMENT' && note.seen === 'YES'" class="fa fa-comments-o"(click)=" notif(note.content_id)" style="font-size:28px;color:rgb(75, 57, 57)"></i>
                                </div>
                                <div class="col-xs-8 col-md-7" >
                                  <span *ngIf="note.seen === 'NO'" style="cursor: pointer; color: rgb(88, 13, 88);" (click)=" notif(note.content_id)"><b>{{note.message}}</b></span>
                                  <span *ngIf="note.seen === 'YES'" style="cursor: pointer;"  (click)=" notif(note.content_id)"><b>{{note.message}}</b></span>
                                  <p >{{note?.created_at | dateAgo}}</p>
                                </div>
                                <div class="col-xs-1 col-md-2" >
                                  <i (click)="deleteNotivication(note.id)" class="fa fa-trash-o"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template> -->
                        <a class="nav-link" (click)="aboutpage()" data-dismiss="modal" data-target="#sidebarModal"><i class="fa fa-tags" style="font-size:24px"></i>&nbsp;<span class="d-xl-block px-1"
                          style="color: white;font: 1em sans-serif;font-size: 22px;">About Us</span></a>
                          <a class="nav-link" (click)="contact()" data-dismiss="modal" data-target="#sidebarModal"><i class="fa fa-question-circle" style="font-size:24px"></i>&nbsp;<span class="d-xl-block px-1"
                            style="color: white;font: 1em sans-serif;font-size: 22px;">Contact Us</span></a>
                            <div class="d-flex justify-content-between">
                              <a href="https://play.google.com/store/apps/details?id=app.service.talenthunt"><img src="assets/img/556.png" style="width: 90%;"></a>
                              <a href="https://apps.apple.com/us/app/id1527415294"><img src="assets/img/557.png" style="width: 90%;"></a>
                            <!-- </div> -->
                </div>
            </div>
            <div class="modal-footer">
              <a class="nav-link" (click)="openContent(logoutModal)" data-dismiss="modal" data-target="#sidebarModal"><i class="fa fa-power-off" style="font-size:24px"></i>&nbsp;<span class="d-xl-block px-1"
                style="color: white; font: 1em sans-serif;font-size: 22px;">LOG OUT</span></a>
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- logout modal start -->
<ng-template #logoutModal let-modal>
  <div>
    <div class="modal-content">
      <div class="modal-header content-center">
        <h4>Logout <i class="fa fa-lock"></i></h4>
      </div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a (click)="onLogout()" class="but btn-signup btn-block" color="white">YES</a><a
          (click)="no()" class="btn facebookbutton btn-block">NO</a></div>
    </div>
  </div>
</ng-template>
<!-- logout modal end -->

<ng-template #report let-modal>
  <div *ngFor="let pos of allPosts">
  <div class="modal-header" >
    <h6 class="modal-title" style="color: red;" id="modal-basic-title">Why are you reporting this post?</h6>
    <button type="button" style="font-size: small;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="reportForm">
      <div class="form-group">
          <select formControlName="complaint" class='form-control'>
            <option value='null'> Select Reason</option>
            <option value='It is Irrelevant'>It's Irrelevant</option>
            <option value='It is Spam'>It's Spam</option>
            <option value='It is Inappropriate'>It's Inappropriate</option>

        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button  type="button" class="buts" (click)="reportpost(pos.id);modal.close()">Report</button>
  </div>
</div>

  </ng-template>
  <ng-template #del let-modal>
    <div *ngFor="let post of allPosts">
      <div class="modal-content">
        <div class="modal-header content-center">
          <h4>Delete Post <i class="fa fa-trash" style="color: red;"></i></h4>
        </div>
        <div class="modal-body"><i class="fa fa-trash"></i> Are you sure you want to Delete this Post?</div>
        <div class="modal-footer"><a (click)="deletePost(post.id);modal.close()" class="but btn-block" color="white">YES</a><a (click)="no()"
            class="btn facebookbutton btn-block">NO</a></div>
      </div>
    </div>
  </ng-template>
